*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}
body {
  font-size: 20px;
  width: 500px;
  padding: 3vh 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #001d3d;
  color: white;
}
h1 {
  text-align: center;
}
.btn {   /*for all buttons on the site*/
  font-size: 15px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 2px 0px;
  width: 200px;
  background-color: #f1faee;
}
.remove-btn { /*button for removing posts*/
  margin-left: 100%;
  width: 2.5em;
  background-color: #e63946;
  color: white;
}
.like-btn { /*button for liking and unliking a post*/
  display: inline-block;
}
.post {  /*for every post*/
  margin: 15px 0px;
  padding: 15px;
  border-radius: 10px;
  background-color:#003566;
  max-height: auto;
  max-width: 100%;
}
#new-post-text { /*input field for creating new post*/
  height: 70px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #f1faee;
}
